# Virtual Environment

.venv/

# Python

**pycache**/
*.py[cod]

# VS Code

.vscode/

# Jupyter

.ipynb_checkpoints/

# Environment variables

.env

# Test cache

.pytest_cache/

# Coverage

.coverage
htmlcov/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

*.pyc
# Raw project datasets

data/raw/*.csv
data/raw/*.json


# SQLite database
database/*.db
database/*.sqlite
database/*.sqlite3
